APP_ENV=production
APP_DEBUG=0
SITE_NAME="MOSIL Lubricants"
SITE_URL=https://mosil.com

DB_HOST=127.0.0.1:3306
DB_USER=u698941191_mosil
DB_PASS=Ruchi@123#@123#
DB_NAME=u698941191_mosil

ADMIN_EMAIL=enquiry@mosil.com
CAREER_EMAIL=resume@mosil.com
