@media (min-width: 1024px) {
    .industrySwiper .swiper-slide {
        width: 250px;
        transition: width 0.5s ease;
    }

    .industrySwiper .swiper-slide-active {
        width: 426px !important;
    }
}

@media (max-width: 1023px) {
    .industrySwiper .swiper-slide {
        width: 85%;
    }
}

.industrySwiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.swiper-pagination-bullet-custom {
    background: #666666;
    opacity: 0.6;
    width: 24px;
    height: 4px;
    margin: 0 4px;
    transition: all 0.3s ease;
    border-radius: 8px;
}

.swiper-pagination-bullet-custom.swiper-pagination-bullet-active {
    background: white;
    opacity: 1;
}


/* Target the specific scrollable container */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    /* matches your width: 10px */
}

/* The Track (Background) */
.custom-scrollbar::-webkit-scrollbar-track {
    background: #F5F5F5;
    /* matches your --Foundation-Neutrals-Grey-cards */
    border-radius: 10px;
}

/* The Thumb (Handle) */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #BFBFBF;
    /* matches your --Foundation-Neutrals-N50 */
    border-radius: 13px;
    /* matches your thumb border-radius */
    height: 32px;
    /* Note: browsers usually calculate height dynamically, but this sets the minimum */
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #A3A3A3;
}

/* Global Layout Constraint */
body {
    max-width: 1440px;
    margin: 0 auto;
}


/* Custom animation for the content fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.4s ease-out forwards;
}

/* Optional: Smooth transition for the details opening */
details[open] summary~* {
    animation: fadeIn 0.4s ease-out;
}

.button-hover:hover {
    color: var(--main-green);
    transition: all 0.3s ease;
    border: 2px solid transparent;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(to right, #30442C, #F4C300) border-box;

}